<div class="d-flex flex-column">
  <h5>New Person Form</h5>

  <form #form="ngForm" class="d-flex flex-column">
    <mat-form-field>
      <mat-label> First Name </mat-label>
      <input
        matInput
        ngModel
        required
        type="text"
        name="givenName"
        #givenName="ngModel"
      />
      @if (givenName.errors && givenName.errors["required"]) {
        <mat-error> First Name is required </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label> Last Name </mat-label>
      <input
        matInput
        ngModel
        required
        type="text"
        name="surName"
        #surName="ngModel"
      />
      @if (surName.errors && surName.errors["required"]) {
        <mat-error> Last Name is required </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label> Age </mat-label>
      <input
        matInput
        ngModel
        required
        type="number"
        min="18"
        max="100"
        name="age"
        #age="ngModel"
      />
      @if (age.errors && age.errors["required"]) {
        <mat-error> Age is required </mat-error>
      }
      @if (age.errors && age.errors["min"]) {
        <mat-error>Age must be &geq; 18 </mat-error>
      }
      @if (age.errors && age.errors["max"]) {
        <mat-error>Age must be &leq; 100 </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label> Email </mat-label>
      <input
        matInput
        ngModel
        required
        type="text"
        pattern="[a-zA-Z0-9\.\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}"
        name="email"
        #email="ngModel"
      />
      @if (email.errors && email.errors["required"]) {
        <mat-error> Email is required </mat-error>
      }
      @if (email.errors && email.errors["pattern"]) {
        <mat-error> Invalid Email </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Education</mat-label>
      <mat-select
        required
        ngModel
        name="education"
        type="text"
        #education="ngModel"
      >
        <mat-option value="Some college, no degree"
          >Some college, no degree</mat-option
        >
        <mat-option value="Master’s degree">Master’s degree</mat-option>
        <mat-option value="Bachelor’s degree">Bachelor’s degree</mat-option>
        <mat-option value="Associate’s degree">Associate’s degree</mat-option>
        <mat-option value="High school diploma or equivalent"
          >High school diploma or equivalent</mat-option
        >
        <mat-option value="No formal education">No formal education</mat-option>
      </mat-select>
      @if (education.errors && education.errors["required"]) {
        <mat-error> Education is required </mat-error>
      }
    </mat-form-field>
  </form>
  <button
    (click)="onSubmit(form.value)"
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</div>
