<table class="table table-bordered table-striped text-wrap">
  <thead>
    <tr class="align-middle text-center small">
      <th role="button" (click)="sortData('givenName')">
        First Name {{ sortSign("givenName") }}
      </th>
      <th role="button" (click)="sortData('surName')">
        Last Name {{ sortSign("surName") }}
      </th>
      <th role="button" (click)="sortData('age')">Age {{ sortSign("age") }}</th>
      <th
        role="button"
        (click)="sortData('email')"
        class="d-none d-lg-table-cell"
      >
        Email {{ sortSign("email") }}
      </th>
      <th
        role="button"
        (click)="sortData('education')"
        class="d-none d-lg-table-cell"
      >
        Education {{ sortSign("education") }}
      </th>
    </tr>
  </thead>
  <tbody>
    @for (row of data; track row) {
      <tr class="align-middle">
        <td>{{ row.givenName }}</td>
        <td>{{ row.surName }}</td>
        <td>{{ row.age }}</td>
        <td class="d-none d-lg-table-cell">{{ row.email }}</td>
        <td class="d-none d-lg-table-cell">{{ row.education }}</td>
      </tr>
    }
  </tbody>
</table>
